.footer {
  padding: 49px 0;
  .container {

  }
}

.footer-company {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: $main-second;
  margin-bottom: 5px;
  text-align: center;
}

.footer-rights {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: $text-non-active;
  text-align: center;
}

@media screen and (max-width: 549px) {
  .footer-company {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }

  .footer-rights {
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
  }
}